<form (ngSubmit)="submitUser()">

    <div class="row">
        <div class="col-md-6">Username: </div>    
        <div class="col-md-6"><input type="text" [(ngModel)]="user.username" name="username"></div>    
    </div>

    <div class="row">
        <div class="col-md-6">Password: </div>    
        <div class="col-md-6"><input type="text" [(ngModel)]="user.password" name="password"></div>    
    </div>

    <div class="row">
        <div class="col-md-6">First Name: </div>    
        <div class="col-md-6"><input type="text" [(ngModel)]="user.first_name" name="first_name"></div>    
    </div>

    <div class="row">
        <div class="col-md-6">Last Name: </div>    
        <div class="col-md-6"><input type="text" [(ngModel)]="user.last_name" name="last_name"></div>    
    </div>

    <div class="row">
        <div class="col-md-6">Email Address: </div>    
        <div class="col-md-6"><input type="text" [(ngModel)]="user.email" name="email"></div>    
    </div>

    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Sign In">
            <input type="button" value="Clear" (click)="clearForm()">
        </div>
    </div>

</form>