<form>

    <div class="row">
        <div class="col-md-6">Username: </div>    
        <div class="col-md-6"><input type="text" name="" id=""></div>    
    </div>

    <div class="row">
        <div class="col-md-6">Password: </div>    
        <div class="col-md-6"><input type="text" name="" id=""></div>    
    </div>

    <div class="row">
        <div class="col-md-6">First Name: </div>    
        <div class="col-md-6"><input type="text" name="" id=""></div>    
    </div>

    <div class="row">
        <div class="col-md-6">Last Name: </div>    
        <div class="col-md-6"><input type="text" name="" id=""></div>    
    </div>

    <div class="row">
        <div class="col-md-6">Email Address: </div>    
        <div class="col-md-6"><input type="text" name="" id=""></div>    
    </div>

    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Sign In">
        </div>
    </div>

</form>